@font-face {
    font-family: Lato-Regular;
    src: url("../../../fonts/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: Lato-Bold;
    src: url("../../../fonts/fonts/Lato/Lato-Bold.ttf");
}

.container-table100 {
    width: 100%;
    min-height: 100vh;
    background: #f3f8fc;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.wrap-table100 {
    width: 1170px;
}

.table100 {
    background-color: #fff;
}

table {
    width: 100%;
}

.column0 {
    width: 5%;
    padding-left: 40px;
    font-weight: bold;
}

.column1 {
    width: 20%;
    padding-left: 60px;
}

.column2 {
    width: 15%;
    padding-left: 30px;
}

.column3 {
    width: 15%;
    padding-left: 30px;
}

.column4 {
    width: 15%;
    padding-left: 30px;
}

.column5 {
    width: 30%;
    padding-left: 20px;
}

.table100-head th {
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
}

.table100-body td {
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
}

.table100 {
    position: relative;
    padding-top: 60px;
}

.table100-head {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.table100-body {
    max-height: 585px;
    overflow: auto;
}

.table100.ver1 th {
    font-family: Lato-Bold;
    font-size: 18px;
    color: #fff;
    line-height: 1.4;
    background-color: #6c7ae0;
}

.table100.ver1 td {
    font-family: Lato-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.4;
}

.table100.ver1 .table100-body tr:nth-child(even) {
    background-color: #f8f6ff;
}

.table100.ver1 {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table100.ver1 .ps__rail-y .ps__thumb-y::before {
    background-color: #cccccc;
}
