<section class="contactUs">
    <h2 class="text-center font-weight-bold">
        CONTACTEZ NOUS
    </h2>
    <hr class="hr">
    <p class="text-center font-weight-bold">
        Contactez-nous dès à présent, AIT Credit se fera un plaisir de vous répondre dans les plus brefs délais.
    </p>
    <div class="container">

        <div class="row text-center font-weight-bold">
            <div class="col-lg-4 text-center">
                <mat-icon>room</mat-icon>
                <p> Hay Karima SALE, SALE 11020 </p>
            </div>

            <div class="col-lg-4 text-center">
                <mat-icon>mail</mat-icon>
                <p> aitelcaid.tarik@gmail.com </p>
            </div>

            <div class="col-lg-4 text-center">
                <mat-icon>local_phone</mat-icon>
                <i class="fas fa-phone"></i>
                <p> +212 6 30 96 36 36 </p>
            </div>
        </div>

        <form (submit)="onSendMail()" fxLayoutAlign="stretch" fxLayout="column">
            <div class="row">
                <div class="form-group col-lg-6">
                    <input class="form-control" type="text" placeholder="Objet" [(ngModel)]="objet" name="objet">
                </div>
                <div class="form-group col-lg-6">
                    <input class="form-control" type="email" placeholder="Email" value="aitelcaid.tarik@gmail.com">
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="3" type="text" placeholder="Message" [(ngModel)]="message"
                    name="message"></textarea>

            </div>

            <div class="form-group">
                <button class="btn" type="submit">
                    Envoyer
                </button>
            </div>
        </form>
    </div>
</section>