<div fxLayoutAlign="center center" fxFlexFill class="main-div mat-elevation-z6">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">Créer Mon Compte</mat-toolbar>
    <form (submit)="onRegister()" fxLayoutAlign="stretch" fxLayout="column" class="login-form">

      <mat-form-field>
        <input matInput type="text" placeholder="Entrer votre Nom Complet svp" [(ngModel)]="name" name="name">
        <mat-icon matSuffix>account_circle</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="Entrer votre Email svp" [(ngModel)]="email" name="email">
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Entrer votre Mot de passe svp" [(ngModel)]="password"
          name="password">
          <mat-icon matSuffix>vpn_key</mat-icon>
      </mat-form-field>

      <a [routerLink]="['../home']" class="btn btn-link">Se connecter</a>

      <button mat-raised-button type="submit" class="mt-5" color="primary"> VALIDER </button>
    </form>

  </mat-card>
</div>