<footer class="text-center">

    <a href="https://www.linkedin.com/in/aitelcaid-tarik/">
        <img src="https://image.flaticon.com/icons/svg/39/39714.svg" class="footer_image">
    </a>

    <a href="https://github.com/aitelcaid-Tarik/CreditApp-MEAN">
        <img src="https://image.flaticon.com/icons/svg/25/25231.svg" class="footer_image" >
    </a>

    <a href="https://www.instagram.com/tarik_ait_elcaid/">
        <img src="https://image.flaticon.com/icons/svg/69/69366.svg" class="footer_image" >
    </a>

    <a href="https://www.facebook.com/tarik.aitelcaid">
        <img src="https://image.flaticon.com/icons/svg/484/484101.svg" class="footer_image">
    </a>

</footer>