.main-div {
    background-color: #ffffff;
    padding: 40px 0px;
}

.main-div mat-card {
    padding: 0px;
}

.main-div mat-card mat-toolbar {
    text-align: center;
    display: inline-block;
    width: 100%;
    padding-top: 14px;
}

.login-form {
    padding: 20px;
}
