mat-toolbar{
    position: relative;
    z-index: 50;
}
.spacer {
    flex: 1 1 auto;
}
.space {
    padding-left: 30px;
}
span {
    padding-left: 10px;
}

a:hover {
    color: white;
    text-decoration: none;
    transform: scale(1.1);
}

.mat-raised-button {
    margin: 0px 20px;
}
