<mat-toolbar color="primary" class="mat-elevation-z6">
    <a class="space" [routerLink]="['/home']"> <img src="../../../assets/logo.png" width="45">
    </a>
    <span> Credit </span>

    <div class="spacer"></div>
    <a mat-button [routerLink]="['/annuite']"> ANNUITE </a>
    <a mat-button [routerLink]="['/capital']"> CAPITAL </a>
    <a mat-button [routerLink]="['/duree']"> DUREE </a>
    <a mat-button [routerLink]="['/home']"> MON COMPTE </a>
    <a mat-raised-button href="#" (click)="onLogOutClicked()" color="accent"> SE DECONNECTER </a>

</mat-toolbar>
