<app-navbar></app-navbar>
<app-slider></app-slider>


<div class="my-cc">
    <div class="container">
        <div>
            <div class="item item-black item-image" style="background-image: url('../../../assets/card/1.jpg');">

                <img src="../../../assets/card/transparent.png" alt="" class="img-responsive" />

                <div class="item-heading clearfix">
                    <h3>Debit Card</h3>
                    <h4>AIT Credit</h4>
                </div>

                <div class="item-account">
                    <span>1234</span>
                    <span>5678</span>
                    <span>0011</span>
                    <span>1626</span>
                </div>

                <div class="item-validity">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">

                            <div class="item-valid clearfix">
                                <h5>Valid From</h5>
                                <span>02/21</span>
                            </div>

                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="item-valid clearfix">
                                <h5>Valid Thru</h5>
                                <span>02/23</span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="item-cc-type clearfix">
                    <h6>MR Tarik AIT ELCAID</h6>
                    <mat-icon>monetization_on</mat-icon>
                </div>

            </div>
        </div>

    </div>
</div>

<!--[value]="credits"--> 

<div class="card">
    <p-table [scrollable]="true" scrollHeight="335px" [resizableColumns]="true"
        styleClass="p-datatable-gridlines">
        <ng-template pTemplate="colgroup">
            <colgroup>
                <col style="width:5%">
                <col style="width:20%">
                <col style="width:15%">
                <col style="width:15%">
                <col style="width:15%">
                <col style="width:30%">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pResizableColumn pSortableColumn="#">
                    <p-sortIcon field="#"> </p-sortIcon> #
                </th>
                <th pResizableColumn pSortableColumn="montant">
                    <p-sortIcon field="montant"> </p-sortIcon> Montant
                </th>
                <th pResizableColumn pSortableColumn="duree">
                    <p-sortIcon field="duree"></p-sortIcon> Durée
                </th>
                <th pResizableColumn pSortableColumn="taux">
                    <p-sortIcon field="taux"></p-sortIcon> Taux
                </th>
                <th pResizableColumn pSortableColumn="annuité">
                    <p-sortIcon field="annuité"></p-sortIcon> Annuité
                </th>
                <th pResizableColumn pSortableColumn="date">
                    <p-sortIcon field="date"></p-sortIcon> Date
                </th>


            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-credit>
            <tr>
                <td>{{credit.i}}</td>
                <td>{{credit.montant}}</td>
                <td>{{credit.duree}}</td>
                <td>{{credit.taux}}</td>
                <td>{{credit.annuite}}</td>
                <td>{{credit.date}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>


<app-contact-us></app-contact-us>
<app-footer></app-footer>