<app-navbar></app-navbar>

<div class="my-cc">
    <div class="container">
        <div>
            <div class="item item-black item-image" style="background-image: url('../../../assets/card/1.jpg');">

                <img src="../../../assets/card/transparent.png" alt="" class="img-responsive" />

                <div class="item-heading clearfix">
                    <h3>Debit Card</h3>
                    <h4>AIT Credit</h4>
                </div>

                <div class="item-account">
                    <span>1234</span>
                    <span>5678</span>
                    <span>0011</span>
                    <span>1626</span>
                </div>

                <div class="item-validity">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">

                            <div class="item-valid clearfix">
                                <h5>Valid From</h5>
                                <span>02/21</span>
                            </div>

                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="item-valid clearfix">
                                <h5>Valid Thru</h5>
                                <span>02/23</span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="item-cc-type clearfix">
                    <h6>MR {{ nomClient }}</h6>
                    <mat-icon>monetization_on</mat-icon>
                </div>

            </div>
        </div>

    </div>
</div>

<app-table></app-table>
<app-contact-us></app-contact-us>
<app-footer></app-footer>