<app-navbar></app-navbar>
<app-slider></app-slider>
<div fxLayoutAlign="center" class="main-div mat-elevation-z6">
    <mat-card fxFlex="35">
        <mat-toolbar color="primary">Calculer l'annuite</mat-toolbar>
        <form (submit)="onCalculAnnuite()" fxLayoutAlign="stretch" fxLayout="column" class="login-form">

            <mat-form-field>
                <input matInput type="text" placeholder="Entrez le capital" [(ngModel)]="capital" name="capital">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="text" placeholder="Entrez le taux" [(ngModel)]="taux" name="taux">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="text" placeholder="Entrez la duree" [(ngModel)]="duree" name="duree">
            </mat-form-field>
            <button mat-raised-button type="submit" class="mt-5" color="primary"> Calculer & Sauvegarder </button>
        </form>

    </mat-card>
</div>

<app-contact-us></app-contact-us>
<app-footer></app-footer>
